* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#calculator-container {
    background-color: black; /*PROVISÓRIO*/
    margin: 0 auto;
    width: 27%;
    padding: 1em;
    border-radius: 15px;
}

#calculator-screen {
    background-color: grey;
    height: 98px;
    margin: 0.5em;
    border-radius: 15px;
}

.calculator-keyboard-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5em;
    margin-top: 1.5em;
}

button {
     border: none;
     padding: 25px 5px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 1em;
     border-radius: 50%;
}

button:hover {
    cursor: pointer;
}